<div class="row home">
	<div class="col s12 center-align">
		<img src="{{APP_SERVICE_PATH}}/images/logo.png" alt="Revoltillo" class="img-responsive">
	</div>

	<div class="input-field col s12">
		<input id="q" type="text" onkeyup="clickSearch()"/>
		<label for="q">¿Qué desea buscar?</label>
	</div>

	<div class="tags center-align">
		<span class="chip amber darken-1 white-text" onclick="searchData('viviendas')">
			<i class="material-icons icon">home</i>
			Viviendas
		</span>
		<span class="chip blue accent-4 white-text" onclick="searchData('autos')">
			<i class="material-icons icon">directions_car</i>
			Autos
		</span>
		<span class="chip red darken-3 white-text" onclick="searchData('electronica')">
			<i class="material-icons icon">tv</i>
			Electronica
		</span>
		<span class="chip amber darken-1 white-text" onclick="searchData('servicios')">
			<i class="material-icons icon">view_list</i>
			Servicios
		</span>
		<span class="chip green darken-2 white-text" onclick="searchData('compra venta')">
			<i class="material-icons icon">trending_up</i>
			Ventas
		</span>
		<span class="chip blue accent-4 white-text" onclick="searchData('empleos')">
			<i class="material-icons icon">business_center</i>
			Empleos
		</span>
	</div>

	<!-- SUBMIT -->
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="sendData()">
			<i class="material-icons">send</i>
		</a>
	</div>
</div>
