<!-- MENU -->
<div class="row" style="margin-bottom: 0;">
	<div class="navbar">
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo left" style="margin-left: 1rem;">Mambo</a>

				<ul class="right hide-on-med-only">
					<li><a href="#!" class="" onclick="apretaste.send({'command':'mambo'})">Home</a></li>
					<li><a href="#!" class="" onclick="apretaste.send({'command':'mambo about'})">About</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>

<!-- CONTENT -->
<div class="row">
	{{APP_TEMPLATE_CODE}}
</div>